<!DOCTYPE html>
<html>
<head>
  <title>Epubparser</title>
  <%= stylesheet_link_tag    "epubparser/application", media: "all" %>
  <%= javascript_include_tag "epubparser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
