@namespace h "http://www.w3.org/1999/xhtml";
.SWsoftchapter {
    color: #000;
    direction: ltr;
    display: none;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    widows: 0
    }
.c {
    color: #000;
    direction: ltr;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    page-break-after: avoid;
    widows: 0
    }
.c1 {
    font-size: 1.41667em;
    font-weight: bold
    }
.c10 {
    font-style: normal;
    font-weight: normal
    }
.c11 {
    font-style: normal;
    font-weight: bold
    }
.c12 {
    color: #000;
    direction: ltr;
    display: block;
    margin-bottom: 0.12in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.35in;
    orphans: 0;
    text-align: center;
    widows: 0
    }
.c2 {
    color: #000;
    direction: ltr;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.16in;
    orphans: 0;
    widows: 0
    }
.c3 {
    color: #000080;
    text-decoration: underline
    }
.c4 {
    color: #000;
    direction: ltr;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0.39in;
    margin-right: 0;
    margin-top: 0.04in;
    orphans: 0;
    widows: 0
    }
.c5 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    margin-left: 0.39in;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    widows: 0
    }
.c6 {
    font-size: 0.75em
    }
.c7 {
    color: #000;
    direction: ltr;
    display: block;
    margin-bottom: 0;
    margin-left: 0.39in;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    widows: 0
    }
.c8 {
    font-family: Arial, sans-serif;
    font-size: 0.75em
    }
.c9 {
    font-weight: normal
    }
.calibre {
    color: #000;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    page-break-before: always;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bolder
    }
.list-indent-western {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0.08in;
    margin-left: 0.2in;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.list-indent-western1 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0.12in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western1 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western2 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0.12in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    page-break-before: always;
    so-language: en-GB;
    widows: 0
    }
.western3 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    page-break-before: always;
    so-language: en-GB;
    widows: 0
    }
.western4 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western5 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western6 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0.08in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
.western7 {
    color: #000;
    direction: ltr;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.12in;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 0;
    so-language: en-GB;
    widows: 0
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }